{% extends 'todo/base.html' %}

{% block content %}
    <h1>Pending Tasks</h1>
    <ul>
        {% for todo in todos %}
            <a href="{% url 'viewtodo' todo.pk %}">
                <li>{% if todo.is_important %}<b>{% endif %}
                    {{ todo.title }}{% if todo.is_important %}</b>{% endif %}
                    {% if todo.memo %} - {{ todo.memo|truncatechars:30 }} {% endif %}
                </li>
            </a>
            
        {% empty %}
            You have no tasks. Create one ! 
        {% endfor %}
    </ul>
{% endblock %}    