{% extends 'todo/base.html' %}

{% block content %}
    <h1>Detail Task {{ todo.title }}</h1>
    <p>Important: {% if todo.is_important %}Yes{% else %}No{% endif %}<p>
       
    <p>Detailed Description {{ todo.memo }}</p>

    <p>Status: 
        {% if todo.date_completed is None %}
            Pending
        {% else %}
            Finished at: {{ todo.date_completed }}
        {% endif %}
    </p>

    <p>Created at: {{ todo.created_at }}</p>
    <p>Updated at: {{ todo.updated_at }}</p>
{% endblock %}    